@import "tailwindcss";

:root {
  font-family: 'Segoe UI', 'Trebuchet MS', sans-serif, Arial;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  
  background-color: #c5dbe6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

/* Style for buttons*/
.button {
  @apply border-[#4682A9] border-4 lg:border-6 hover:bg-[#4682A9] rounded-full w-18 md:w-16 lg:w-20 h-18 md:h-16 lg:h-20;
}
